
html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{ margin: 0; padding: 0; border: 0; font-size: 97%; font-family: 'Raleway', sans-serif; vertical-align: baseline; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
h1, h2, h3, h4, h5, h6 {font-family: 'Merriweather', serif !important; margin: 0.1em; color:#3B3B3B}
.span-high { font-family: 'Shadows Into Light' !important; font-weight: bold;}
body { line-height: 1; color: #3B3B3B;}
p { font-size: 97%; font-family: 'Raleway', sans-serif !important; line-height: 1.3; text-align: left; margin-bottom:1em;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

div {
  border-color: #FF0000;
  border-width: thin;
  border-style: solid;
}

/* SLIDE 1 CSS ******************************************************************************/

.s1-graph {
  height: 28%;
  width: 100%;
  top: 0;
}

.s1-main-plot {
  height: 65%;
  width: 58%;
  left: 21%;
  bottom: 0;
  position: absolute;
}

.s1-mainplot-half {
  height: 100%;
  width: 50%;
}

.s1-counting {
  width:100%;
  margin: 10px;
}

.s1-country {
  width: 21%;
  height: 65%;
  bottom: 0;
  display: none;
  animation: zoom 1.5s;
}

.s1-country p{
  margin-left: 12px;
  margin-right: 10px;
  margin-top: 1em;
}

.s1-country h2{
  margin-left: 12px;
}

.s1-count-wrapper {
  padding: 25px;
  height: 35%;
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translate(-35%, 0);
  -ms-transform: translate(-35%,0);
}

.s1-dropdown{
  margin: 0px 10px;
}

.s1-dropdown > select {
  border-color: rgba(10, 9, 9, 0);
  padding: 5px 10px;
  border-radius: 0;
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}

.left {
  position: absolute;
  left: 0;
}

.right {
  position: absolute;
  right: 0;
}

/* SLIDE 2 CSS ***************************************************************************/

.s2-top-left {
  width: 40%;
  height: 40%;
  position: relative;
}

.s2-top-right {
  width: 60%;
  height: 40%;
  position: absolute;
  top: 0;
  right: 0;
}

.s2-bottom-left {
  width: 40%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.s2-bottom-right {
  width: 60%;
  height: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* CUSTOM SELECT ***************************************/
.custom-select {
  position: relative;
  margin: 5px 0 0 5px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #3B3B3B transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #3B3B3B transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  padding: 8px 0px 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* D3 STYLING STUFF **************************************************************************/
/******** GRAPH FORCE DIRECT GRAPH ******************************************/
.node {
  stroke-width: 1px;
}

.title{
    font: 30px sans-serif;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
    border-radius: 5px;
  padding: 12px 10px 4px 10px;
}

input[type=radio]:checked + label {
  background: #DADADA;
}

input[type=radio]:hover + label {
  background: #DADADA;
}

label + input[type=radio] + label {

}

.radio-group {
  display: inline-block;
  overflow: hidden;
}
.block {
  height: 20px;
  display: block;
}

.form{
  float: left
}

#s1_counting_left{
  font-size: 45px
}
#s1_counting_right{
  font-size: 45px
}

/******** COUNTRY INTRO BAR CHART ******************************************/
.d3-tool-heading{
 font-size: 1.2em;
 text-align: center;
 color: black;
}

.p1 {
 font-size: 1px;
 color: pink
}

/*.rectangle:hover {
 fill: deepskyblue;
}*/

.axis1 {
 font: 10px sans-serif;
}

.axis2 {
  font: 10px sans-serif;
 }

path{
 /* stroke: darkblue;  */
   stroke-width: 3.2; /*Stroke for average*/
   fill: none;
}

div.tooltip{
   position: absolute;
   text-align: center;
   width: 130px;
   height: 20px;
   padding: 2px;
   font: 12px sans-serif;
   background: rgb(243, 240, 237);
   border: 3px;
   border-radius: 1px;
   pointer-events: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    stroke-width:1;
}

.d3-tip {
 line-height: 1.2;
 padding: 10px;
 background: rgba(243, 242, 248, 0.8);
 color: rgb(236, 103, 103);
 border-radius: 1px;
 top: 10px
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
 box-sizing: border-box;
 display: inline;
 font-size: 10px;
 width: 100%;
 line-height: 1;
 color: rgba(0, 0, 0, 0.8);
 content: "\25BC";
 position: absolute;
 text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
 margin: -1px 0 0 0;
 top: 100%;
 left: 0;
}


/* Basic Structure CSS **********************************************************************/
.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #fbfbf8;
  z-index: -2;
}

.mySlides {
  display: none;
}

.content {
  width: 1368px;
  height: 714px;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  overflow-y: scroll;
  padding-right: 10px;
}

/*Scrollbar Properties*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fbfbf8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D8D8D8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8D8D8D;
}

/*.content-text {
  column-count: 3;
  column-gap: 1.6em;
}*/

.subhead::first-letter {
  initial-letter: 3;
}

.animate-fading {animation:opac 5s}@keyframes opac{from{opacity:0} to{opacity:1}}

@keyframes zoom{from{transform:scale(0.2,0.2)} to{transform: scale(1,1)}}

.arrow{
  cursor: pointer;
  position: absolute;
  z-index: 0;
  color: #7B7B7B;
}

.arrow:hover {
  color: #0A0A0A;
}

.arrow-left {
  top: 30px;
  right: 100px;
}

.arrow-right {
  top: 30px;
  right: 40px;
}

.dot {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #D8D8D8;
  border: 1px solid #D8D8D8 !important;
}

.dot-select {
  background-color: #8D8D8D !important;
}

.dot:hover {
  background-color: #8D8D8D !important;
}

.slider-nav {
  position: absolute;
  bottom: 40px;
  z-index: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
  -ms-transform: translate(-50%,0%)
}
